
body {
  background-image:url(tech.jpg);
  text-align:center;
}

p {
  color:#013220;
  text-align:center;
  display:inline-block;
  padding: 10px;
}


h1 {
  
font-size:50px;
color:white;
}

h2 {
  text-align:center;
  font-size: 30px;
  color:white;
  
}


h1,h3, img{
 padding-right:170px;
 height:auto;
}

form{
  text-align: center;
}

a{
 text-decoration:none;
 color:black;
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: beige;
  position: fixed;
  height: 595px;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 48px;
  text-decoration: none;
  font-size: 20px;
 
  
}

/* Active/current link */
.sidebar a.active {
  background-color: #000080;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: lightblue;
  color: blue;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1200px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
   
    
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
    
  }
}


.button {
  background-color: rgb(229, 229, 17);
  color: black;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}
button:hover{background-color:white;}


hr{
  border:2px solid red;
}



#cover{
width: 800px;
height:145px;
background-color:#7DEDF5;
margin-left:auto;
margin-right:auto;
transition:2s;
border:1px solid black;
}
/*transitions to background color gold*/
#cover:hover{
  background-color:#012a4a;
  color:white;
}

#team:hover{
  background-color:#4b5320;
  color:white;
  
}

#skills:hover{
  background-color:#800000;
  color: white;
}

#team{
width: 700px;
height:90px;
background-color:#77dd77;
margin-left:auto;
margin-right:auto;
transition:1.5s;
border:1px solid black;
}

#skills{
width: 400px;
height:120px;
background-color:#ffcccb;
margin-left:auto;
margin-right:auto;
transition:1.5s;
border:1px solid black;
}

.contact{
width: 500px;
height:250px;
background-color:#e3b778;
margin-left:auto;
margin-right:auto;
border:1px solid black;
}

.column{
  float: left;
  width:50%;
  
  
}

.row::after{
  content: "";
  clear: both;
  
}

.hide{
  background-color:#c8a951;
  width:230px;
  height:30px;
  font-size:20px;
  color:white;
  transition: transform 0.5s;
}

.hide:hover{
  background-color:#f40808;
  transform: translateY(-10px) scale(1.1);
}
.arrow {
  border: solid rgb(237, 234, 234);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  animation-name: down arrow;
  animation-duration: 1s;
}


.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.buy{
  width: 100px;
  height:50px;
  background-color:#fae151;
  margin-left:auto;
  margin-right:auto;
  border:1px solid black;
  cursor: pointer;
  }

  .cart{
    width: 40px;
    height:20px;
    background-color:#fae151;
  }

  .container{
    background-image:radial-gradient(rgb(246, 50, 50), rgb(232, 140, 26), rgb(238, 228, 108));
    width: 350px;
    height: 260px;
    margin-left: 300px;
    float: left;
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s;
  }
  .container1{
    background-image:radial-gradient(rgb(130, 220, 216), rgb(161, 226, 213), rgb(165, 223, 182));
    width: 350px;
    height: 260px;
    float: right;
    padding: 10px;
    margin-right: 300px;
    border-radius: 20px;
    transition: 0.3s;
  }
  .container:hover,.container1:hover,.web-design:hover,.video-editing:hover,.photoshop:hover,.work2:hover,.work:hover,.work1:hover{
    background: #c3c2c2;
    transform: translateY(-10px);
  }
  .web-design{
    width: 250px;
    height: 350px;
    background-image: linear-gradient(rgb(238, 129, 129), rgb(231, 201, 94));
    float: left;
    margin-left: 300px;
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s;
  }
 .video-editing{
    width: 250px;
    height: 350px;
    background-image:linear-gradient(rgb(206, 206, 222), rgb(65, 75, 65));
    float: right;
    margin-right: 300px;
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s;
  }
  .photoshop{
    width: 250px;
    height: 350px;
    background-image: linear-gradient(rgb(176, 176, 246), rgb(109, 227, 109));
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s;
  }
  .work{
    width: 350px;
    height: 350px;
    background-image: linear-gradient(rgb(55, 55, 65), rgb(204, 218, 204));
    padding: 10px;
    margin-left: 150px;
    border-radius: 15px;
    transition: 0.3s;
    display:inline-block;
  }
  .work1{
    width: 350px;
    height: 350px;
    background-image: linear-gradient(rgb(226, 98, 47), rgb(234, 195, 68));
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s;
    display: inline-block;
    margin: 20px;
  }
  .work2{
    width: 350px;
    height: 350px;
    background-image: linear-gradient(rgb(176, 176, 246), rgb(109, 227, 109));
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s;
    margin-right: 50px;
    display: inline-block;
  }
